:root {
    /* Settings */
    --spacing: 15px;
    --font-size: 1.15rem;
    /* Normal Colors */
    --background-color: white;
    --alt-background-color: rgb(240, 234, 157);
    --font-color: black;
    --alt-font-color: darkslategray;
    --border-color: black;
    /* Dark Mode Colors */
    --dark-background-color: rgb(27, 25, 25);
    --dark-alt-background-color: rgb(37, 44, 44);
    --dark-font-color: rgb(219, 118, 60);
    --dark-alt-font-color: rgb(255, 255, 255);
    --dark-border-color:rgb(219, 118, 60);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
}

header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr;
    font-size: var(--font-size);
    padding: var(--spacing);
    border-bottom: 1px solid var(--border-color);
    color: var(--alt-font-color);
    background-color: var(--alt-background-color);
}

header a {
    color: var(--alt-font-color);
}

header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 7.5px;
    margin-right: 7.5px;
}

main {
    flex: 1;
    font-size: var(--font-size);
    padding: var(--spacing);
    color: var(--font-color);
    background-color: var(--background-color);
}

footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    font-size: var(--font-size);
    border-top: 1px solid var(--border-color);
    padding: var(--spacing);
    color: var(--alt-font-color);
    background-color: var(--alt-background-color);
}

footer a {
    color: var(--alt-font-color);
}

footer #legal {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    align-items: center;
}

footer nav {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    margin-left: auto;
}

footer nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer nav ul li {
    display: inline-block;
    padding: 7.5px;
    margin-right: 7.5px;
}

footer #dark-mode {
    grid-row: 1;
    grid-column: 3;
}

footer #dark-mode .icon {
    position: relative;
    display: inline-block;
    z-index: 100;
    pointer-events: none;
}

footer #dark-mode .icon svg path {
    fill: var(--background-color);
}

footer #dark-mode #sun-icon svg {
    transform: scale(0.9);
    position: absolute;
    top: -32px;
    left: 15px;
}

footer #dark-mode #moon-icon svg {
    transform: scale(0.85);
    position: absolute;
    top: -32px;
    right: 15px;
}

footer #dark-mode #tgl-wrapper {
    display: inline-block;
}

footer #dark-mode #tgl-wrapper .tgl {
    display: none;
}

footer #dark-mode #tgl-wrapper .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}

footer #dark-mode #tgl-wrapper .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
}

footer #dark-mode #tgl-wrapper .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 80px;
    height: 40px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 30px;
    padding: 3px;
    transition: all 0.4s ease;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:after {
    left: 0;
    border-radius: 50%;
    background-color: var(--border-color);
    transition: all 0.2s ease;
}

footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:before {
    display: none;
    transition: all 0.2s ease;
}

footer #dark-mode #tgl-wrapper .tgl:checked + .tgl-btn:after {
    left: 50%;
    transition: all 0.2s ease;
}

/*===========================================*\
  APPLY DARK MODE COLORS WHEN DARK MODE IS ON 
\*===========================================*/

body.dark-mode header {
    border-bottom: 1px solid var(--dark-border-color);
    color: var(--dark-alt-font-color);
    background-color: var(--dark-alt-background-color);
}

body.dark-mode header a {
    color: var(--dark-alt-font-color);
}

body.dark-mode main {
    color: var(--dark-font-color);
    background-color: var(--dark-background-color);
}

body.dark-mode footer {
    border-top: 1px solid var(--dark-border-color);
    color: var(--dark-alt-font-color);
    background-color: var(--dark-alt-background-color);
}

body.dark-mode footer a {
    color: var(--dark-alt-font-color);
}

body.dark-mode footer #dark-mode .icon svg path {
    fill: var(--dark-background-color);
}

body.dark-mode footer #dark-mode #tgl-wrapper .tgl + .tgl-btn {
    background-color: var(--dark-background-color);
    border: 1px solid var(--dark-border-color);
}

body.dark-mode footer #dark-mode #tgl-wrapper .tgl + .tgl-btn:after {
    background-color: var(--dark-border-color);
}

header #logo{

    height:220px;
    width:220px;
}

main .orange{

    height:300px;
    width:300px;
    border-radius:20%;
    padding: 10px

}
.orange:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

#add{
    height:auto;
    width:100%;
}
#text-center{
    font-family: 'Train One', cursive;
    text-align: center;
    font-size: 30px;
    border-radius:1%;

}

#paintings-right{
    background-color:rgb(241, 206, 92);
    border-radius:1%;
}
#paintings-left{
    background-color:rgb(105, 124, 233);
    width:100%;
    border-radius:1%;
}
button{
    background-color: tan;
    transition-duration: 0.4s;
    border-radius:4px;
    padding: 5px 30px
}
      
button:hover{
    background-color: white;
    border: 2px soild white;
}
body.dark-mode button:hover{
    background-color: black;
    border: 2px soild black;
}

table{
    border:4px solid black
}

#contact-form{
    width: 500px;
    padding:15px;
    margin:0 auto;
    border:2px solid;
    border-radius: 15px;
}

#text-contact{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 20em
}

.card {
    width:250px;
    height:100%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  
  .artist{
    width:220px;
    height:220px;
  }
  .artists-text{
    font-size: 20px;
  }
main #top-text{
    text-align: center;
}
.table-rows{
    border:2px solid black;
    padding : 10px;
}

.artwork{
    height:300px;
    width:300px;
    border-radius:20%;
    margin: 20px
}
.artist-name{
    margin:20px;
    text-decoration: underline;
}
